* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*temporal*/
    /* border: 1px solid red; */
}
a {
    text-decoration: none;
}

.contenedor {
    max-width: 100vw;
    margin: 0 auto;

}
.nav {
    display: flex;
    color: white;
    background-color: black;
    border-top: 30px;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-logot {
    border-right: 1px solid white;
    padding-right: 20px;
    color: white;
    font-size: 18px;
}
.nav-logot2 {
    color: white;
    font-size: 22px;
}
.logo-inicial {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.llamado-accion {
    margin: auto 0;
}
.btn {
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}
.btn-oscuro {
    border: 1px solid white;
    font-size: 20px;
    color: white;
}
.btn-azul {
    background-color: #4C5FD5;
    font-size: 20px;
    color: white;
}
.cabecera {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 120px;
    background-color: #dadbf1;
}
.titulo-principal {
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    padding: 100px 0 30px 0;
}
.buscador {
    position: relative;
    width: 100%;
    font-size: 22px;
    padding: 10px;
    max-width: 700px;
    height: 60px;
    border: 1px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    
}

.buscador::placeholder{
    font-size: 20px;
}
.column{
    margin-top: 150px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    gap: 100px;
    margin-bottom: 100px;
}
.column-hijo {
   width: 100%;
   /* max-width: 350px; */
  /* margin-left: 20px; */
   
}
.column-titulo {
    font-size: 25px;
    margin-bottom: 25px;
}
.column-parrafo {
    font-size: 25px;
    margin-bottom: 25px;
}
.column-learn {
    font-size: 23px;
    color: #4C5FD5;
}

.footer{
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: space-around;
    padding: 40px 0 60px 0;
    background-color: black;

}
.footer ul{
    list-style: none;
}
.footer li {
    font-size: 18px;
    margin: 8px 0;
}
.footer-titulo {
    font-size: 26px;
    margin-bottom: 20px;
    
    
}
.footer-abstract, .footer-resources, .footer-community, .footer-company , .footer-copyright {
    color: white;
}
.footer-copyright {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}
.copy-texto {
    font-size: 22px;
}


@media (max-width: 768px) {

   .nav {
    flex-direction: column;
    justify-content: center;
   }
   .llamado-accion {
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 0;
   }
   .titulo-principal {
    font-size: 40px;
   }
  .footer {
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer > :last-child {
  grid-column: span 2;
    }
  .column {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    gap: 60px;
    margin-bottom: 40px;
  }
  .buscador {
    height: 40px;
    border-radius: 20px;
  }
  .icon-input {
    margin: 30px;
  }
  .btn {
    display: flex;
    
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    flex-direction: column;
  }
  .footer-copyright {
    margin-top: 30px;
  }
}
@media (min-width: 769px) and (max-width: 999px) {
.column{
    gap: 40px;
    margin-bottom: 80px;
    
}
.column-hijo {
    width: 100%;
    max-width: 300px;
    margin: auto;
  
}
.footer {
    padding: 40px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer > :last-child {
  grid-column: span 2;
    }
.footer-abstract, .footer-resources, .footer-community, .footer-company , .footer-copyright {
    margin: 0 auto;
}
}